* {
    margin: 0;
    padding: 0;
  }
  
html, body {
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: yellow; 
    color: purple;        
}

.row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

ul li {
  position: relative;
  border: 0px;
  margin: 10px 10px 10px 10px;
  padding: 2px 2px 2px 2px;
  width: 14vw;
  height: 22px;
  background-color: white;
  display: flex;
  align-items: center;
}

ul li span {
  position: absolute;
  right: 0; 
  top: 0;
  width: 16px; 
  height: 100%; 
  background-color: #000;
}

/* Main */
hr {
  border-style: dotted;
  width: 100%;
  position: fixed;
  margin-bottom: 40px;
}

.threerows{
  margin: 20px 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

p i {
    padding-top: 20px;
    display: block;
}